{% extends 'base.html' %}

{% block title %}Book List{% endblock %}

{% block content %}

<div class="box">
    <h3>{{ object.name }}</h3>
    <p>{{ object.author.name }}</p>
    <p>{{ object.published }}</p>
    <p>{{ object.isbn }}</p>
</div>

<div class="field is-grouped">
    <p class="control">
        <a href="{% url 'book_edit' object.pk %}">
            <button class="button is-success">Edit Book</button>
        </a>
    </p>
    <p class="control">
        <a href="{% url 'book_delete' object.pk %}">
            <button class="button is-danger">Delete Book</button>
        </a>
    </p>
</div>
{% endblock %}