{% block js %}
{% endblock %}

<div id="logs" class="root hidden">
  <div id="panelTitle">
    <h1>Request for <code>/books</code></h1>
  </div>
  <!-- <div id="panelBody">
  </div> -->
  <div class="result"></div>
</div>

<!-- <div id="test">
  <div data-foo="1">
    <div data-foo="2" class="foo2">
      <div data-foo="3" class="coffee">
        third
      </div>
      <div data-foo="3" class="coffee">
        third 2
      </div>
      second
    </div>
    first
    <div data-foo="3" class="coffee">
      third 3
    </div>
  </div>
</div> -->

<div id="cbvHandle">
  <div id="innerHandler">
    <span id="cbvInnerHandlerD">D</span>
    <span id="cbvInnerHandlerJ">J</span>
    CBV
  </div>
</div>

<style>
  .hidden {
    display: none;
  }

  .result {
    display: inline-block;
  }

  #cbvHandle {
    position: fixed;
    transform: rotate(-90deg);
    transform-origin: right bottom;
    border-bottom: 0;
    top: 50%;
    right: 0;
    z-index: 1;
    opacity: 0.75;
  }

  #innerHandler:hover {
    background-color: #111;
    border-color: #38bdf8;
    opacity: 1;
    cursor: pointer;
  }

  #innerHandler {
      padding: 0 5px;
      border: 5px solid #7dd3fc;
      border-bottom-width: 0;
      color: #fff;
      font-size: 22px;
      font-weight: bold;
      background-color: #282828;
      opacity: 0.5;
      display: inline-flex;
      align-items: baseline;
    }
  
  #cbvInnerHandlerD {
    color: #7dd3fc;
  }

  #cbvInnerHandlerJ {
    color: #7dd3fc;
    font-size: 16px;
  }

  #logs {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    /* height: 100vh;
    width: 100vw; */
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  #panelTitle {
    /* position: absolute; */
    background-color: #ffc;
    color: #666;
    padding-left: 20px;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
  }
</style>

<script>
  const toolbarHandler = document.getElementById('cbvHandle');
  const logContainer = document.getElementById("logs");
  // const logContainer = document.querySelector("#logs #panelBody");

  toolbarHandler.addEventListener('click', () => {
    logContainer.classList.toggle('hidden');
  });

  ///////////////////////////////////////////////////////////////

  // const logContainer = document.getElementById("logs");
  // console.log(logContainer);

  function addButton(parentLogDiv) {
    // adds a toggle button to a log entry that SHOULD be a parent log!
    let header = parentLogDiv.querySelector(':scope > .header');
    // debugger;
    // let alreadyHasButton = header.querySelector('.toggleButton');
    // let isRootLogDiv = parentLogDiv.classList.contains('root');

    if (!parentLogDiv.classList.contains('root') && !header.querySelector('.toggleButton')) {
      const toggleButton = document.createElement('button');
      toggleButton.classList.add('toggleButton');
      toggleButton.innerHTML = '−';
      header.insertAdjacentElement('afterbegin', toggleButton);
    }
  }

  function handleToggleClick(e) {
    console.log('🔥🔥🔥🔥')
    console.log(e.target);
    console.log(e.currentTarget);
    descendantLogs = e.target.closest('.logEntry').querySelectorAll('.logEntry');
    // debugger;
    descendantLogs.forEach(logEntry => logEntry.classList.toggle('hidden'));

    if (descendantLogs[0].classList.contains('hidden')) {
      e.target.innerHTML = '﹢';
    }
    else {
      e.target.innerHTML = '−';
    }
  }

  function getParentLogDiv(tabIndex) {
    // returns the parent div of a log entry based on its tab index
    if (tabIndex == 1) {
      return logContainer;
    }

    const parentTabIndex = tabIndex - 1;
    let divs = document.querySelectorAll(`#logs [data-tab-index="${parentTabIndex}"]`);
    let lastDiv = Array.from(divs).pop();
    return lastDiv;
  }

  function addLogEl(logObj) {
    // main func to add logs to page!

    console.dir(logObj);
    let tabIndex = logObj.tab_index;
    let logName = logObj.name;
    let padding = logObj.padding;

    parentLogDiv = getParentLogDiv(tabIndex);

    let logDiv = document.createElement(`div`);
    logDiv.classList.add('logEntry');

    logDiv.style.paddingLeft = `${padding}px`;
    logDiv.style.border = "1px solid blue";
    logDiv.dataset.tabIndex = tabIndex;

    // let result = document.createElement('code');
    let result = document.createElement('div');
    let resultCode = document.createElement('pre');
    let header = document.createElement('div');
    result.classList.add('result');
    header.classList.add('header');
    header.textContent = `${logObj.name}${logObj.signature}`
    result.innerHTML = '<b>result</b>&nbsp';
    resultCode.textContent = logObj.ret_value
    result.appendChild(resultCode);
    logDiv.insertAdjacentElement('afterbegin', header);
    logDiv.insertAdjacentElement('beforeend', result);

    // add arguments to header
    let argumentsDiv = document.createElement('div');
    argumentsDiv.innerHTML = '<b>arguments</b>&nbsp';

    let arguments = document.createElement('pre');

    arguments.textContent = logObj.arguments;
    console.log(logObj.arguments);
    console.log(arguments.textContent);
    argumentsDiv.appendChild(arguments);

    header.insertAdjacentElement('beforeend', argumentsDiv);

    // find result direct child element in parent div, and append right before that
    parentResult = parentLogDiv.querySelector(':scope > .result');
    // debugger;
    parentResult.insertAdjacentElement('beforebegin', logDiv);

    // make sure parent has a button since it now has child log entries!
    addButton(parentLogDiv);
  }

  {% for log_order, log_data in logs.items %}
    addLogEl({{ log_data|safe }});
  {% endfor %}

  toggleButtons = document.querySelectorAll('.toggleButton');
  toggleButtons.forEach(toggleButton => {
    toggleButton.addEventListener('click', handleToggleClick)
  });
</script>