{% block js %}
{% endblock %}

<div>
  {{ request_metadata.method }} {{ request_metadata.path }} {{ request_metadata.body }}
  <br>
  {% for log_order, log_data in logs.items %}
  <!-- <p style="padding-left: {{ log_data.padding }}px; border: 1px solid red;">{{ log_order }} {{ log_data.name }} {{ log_data.ret_value }}</p> -->
  <!-- <p style="padding-left: {{ log_data.padding }}px; border: 1px solid red;">(order:{{ log_order }}) &nbsp;&nbsp;&nbsp;&nbsp; (tab_index:{{ log_data.tab_index }})</p> -->
  <p style="padding-left: {{ log_data.padding }}px; border: 1px solid red;">{{ log_data.name }}</p>
  {% endfor %}
  <br>
</div>

<div id="logMarkup">
  {% for log_order, log_data in logs.items %}
  <div data-tab-index="{{log_data.tab_index}}" data-func-order="{{ log_order }}"
    style="padding-left: {{ log_data.padding }}px; border: 1px solid green;">{{ log_data.name }}</div>
  {% endfor %}
</div>
<div id="logs2"></div>

<div id="logs" class="root">
  <div class="result"></div>
</div>

<div id="test">
  <div data-foo="1">
    <div data-foo="2" class="foo2">
      <div data-foo="3" class="coffee">
        third
      </div>
      <div data-foo="3" class="coffee">
        third 2
      </div>
      second
    </div>
    first
    <div data-foo="3" class="coffee">
      third 3
    </div>
  </div>
</div>

<div id="cbvInspector" class="hidden">
  <h1>Yoo inspector html here!</h1>
</div>

<style>
  .hidden {
    display: none;
    /* color: grey; */
  }

  .result {
    display: inline-block;
  }
</style>

<script>
  const root = document.getElementById('cbvInspector');

  root.addEventListener('click', () => {
    root.classList.toggle('hidden');
  })

  ///////////////////////////////////////////////////////////////

  const logContainer = document.getElementById("logs");
  // console.log(logContainer);

  function addButton(parentLogDiv) {
    // adds a toggle button to a log entry that SHOULD be a parent log!
    let header = parentLogDiv.querySelector(':scope > .header');

    // let alreadyHasButton = header.querySelector('.toggleButton');
    // let isRootLogDiv = parentLogDiv.classList.contains('root');

    if (!parentLogDiv.classList.contains('root') && !header.querySelector('.toggleButton')) {
      const toggleButton = document.createElement('button');
      toggleButton.classList.add('toggleButton');
      toggleButton.innerHTML = '−';
      header.insertAdjacentElement('afterbegin', toggleButton);
    }
  }

  function handleToggleClick(e) {
    console.log('🔥🔥🔥🔥')
    console.log(e.target);
    console.log(e.currentTarget);
    descendantLogs = e.target.closest('.logEntry').querySelectorAll('.logEntry');
    // debugger;
    descendantLogs.forEach(logEntry => logEntry.classList.toggle('hidden'));

    if (descendantLogs[0].classList.contains('hidden')) {
      e.target.innerHTML = '﹢';
    }
    else {
      e.target.innerHTML = '−';
    }
  }

  function getParentLogDiv(tabIndex) {
    // returns the parent div of a log entry based on its tab index
    if (tabIndex == 1) {
      return logContainer;
    }

    const parentTabIndex = tabIndex - 1;
    let divs = document.querySelectorAll(`#logs [data-tab-index="${parentTabIndex}"]`);
    let lastDiv = Array.from(divs).pop();
    return lastDiv;
  }

  function addLogEl(logObj) {
    // main func to add logs to page!

    console.dir(logObj);
    let tabIndex = logObj.tab_index;
    let logName = logObj.name;
    let padding = logObj.padding;

    parentLogDiv = getParentLogDiv(tabIndex);

    let logDiv = document.createElement(`div`);
    logDiv.classList.add('logEntry');

    logDiv.style.paddingLeft = `${padding}px`;
    logDiv.style.border = "1px solid blue";
    logDiv.dataset.tabIndex = tabIndex;

    // let result = document.createElement('code');
    let result = document.createElement('div');
    let resultCode = document.createElement('pre');
    let header = document.createElement('div');
    result.classList.add('result');
    header.classList.add('header');
    header.textContent = `${logObj.name}${logObj.signature}`
    result.innerHTML = '<b>result</b>&nbsp';
    resultCode.textContent = logObj.ret_value
    result.appendChild(resultCode);
    logDiv.insertAdjacentElement('afterbegin', header);
    logDiv.insertAdjacentElement('beforeend', result);

    // add arguments to header
    let argumentsDiv = document.createElement('div');
    argumentsDiv.innerHTML = '<b>arguments</b>&nbsp';

    let arguments = document.createElement('pre');

    arguments.textContent = logObj.arguments;
    console.log(logObj.arguments);
    console.log(arguments.textContent);
    argumentsDiv.appendChild(arguments);

    header.insertAdjacentElement('beforeend', argumentsDiv);

    // find result direct child element in parent div, and append right before that
    parentResult = parentLogDiv.querySelector(':scope > .result');
    parentResult.insertAdjacentElement('beforebegin', logDiv);

    // make sure parent has a button since it now has child log entries!
    addButton(parentLogDiv);
  }

  {% for log_order, log_data in logs.items %}
    addLogEl({{ log_data|safe }});
  {% endfor %}

  toggleButtons = document.querySelectorAll('.toggleButton');
  toggleButtons.forEach(toggleButton => {
    toggleButton.addEventListener('click', handleToggleClick)
  })

  // experiment where the divs are already there and this JS just nests them
  // this assumes elements in logMarkup are in order
  const logMarkup = document.getElementById('logMarkup');
  const logs2 = document.getElementById('logs2');
  Array.from(logMarkup.children).forEach(child => {
    //debugger;
    console.log(child);

    let parentLogs2Div = null;
    // console.log('✅ ' + Object.keys(child));
    tabIndex = child.dataset.tabIndex;
    //console.log('✅ ' + tabIndex);

    if (tabIndex == 1) {
      console.log('tabindex is 1!');
      parentLogs2Div = logs2;
    }
    else {
      let parentTabIndex = tabIndex - 1;
      let divs = document.querySelectorAll(`#logs2 [data-tab-index="${parentTabIndex}"]`);
      parentLogs2Div = Array.from(divs).pop(); // get last element from querySelector
      // experiment with adding marker for dropdown in parent innerHTML

      // check if parentLogs2Div is not null
      if (parentLogs2Div !== undefined) {
        if (!parentLogs2Div.textContent.includes('⬇️')) {
          parentLogs2Div.innerHTML += '⬇️';
        }
      }
    }

    //console.log(`parent logs2 div is ${parentLogs2Div}`);

    // move child element from logMarkup div to logs2 div container! child gets removed from logMarkup div!
    parentLogs2Div.insertAdjacentElement('beforeend', child);
  })
</script>