<div id="djCbv">

  <!-- cbv logs handle -->
  <div id="djCbvHandle">
    <div id="djCbvShowPanelButton">
      <span id="djCbvShowPanelButtonD">D</span>
      <span id="djCbvShowPanelButtonJ">J</span>
      CBV
    </div>
  </div>

  <!-- cbv logs panel -->
  <div class="djcbv-panel djcbv-hidden">

    <!-- panel title -->
    <div class="djcbv-panel-title">
      <h1>CBV inspect for <code>{{ request_metadata.method }} {{ request_metadata.path }}</code></h1>
      <button id="djCbvExitPanel" class="cbvLogsButton">x</button>
    </div>

    <!-- panel content -->
    <div class="djcbv-panel-content">
      <!-- <br> -->
      <h4>View information</h4>
      <table>
        <thead>
          <tr>
            <th>View</th>
            <th>Base classes</th>
            <th>HTTP method</th>
            <th>Arguments</th>
            <th>Keyword arguments</th>
            <th>Path</th>
            <th>URL name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ view_path }}</td>
            <td>
              <!-- <code>{{ base_classes|pprint }}</code> -->

              {% if base_classes %}
                  <!-- {% if base_classes|length > 1 %}
                    <ul>
                    {% for cls_dict in base_classes %}
                      <li>
                        <code>{{ cls_dict.name }}</code>
                      </li>
                    {% endfor %}
                    </ul>
                  {% else %}
                    <code>{{ base_classes.0 }}</code>    
                  {% endif %} -->
                  {% for cls_dict in base_classes %}
                    <div>
                      {% if cls_dict.ccbv_link %}
                      <a href="{{ cls_dict.ccbv_link }}" target="_blank">
                        {{ cls_dict.name }}
                      </a>
                      {% else %}
                        {{ cls_dict.name }}
                      {% endif %}
                    </div>
                  {% endfor %}
              {% endif %}
            </td>
            <td><code>{{ request_metadata.method|pprint }}</code></td>
            <td><code>{{ args|pprint }}</code></td>
            <td><code>{{ kwargs|pprint }}</code></td>
            <td><code>{{ request_metadata.path|pprint }}</code></td>
            <td><code>{{ url_name }}</code></td>
          </tr>
        </tbody>
      </table>

      <!-- <br> -->

      <h4>CBV method call chain</h4>
      <table>
        <thead>
          <tr>
            <th>CBV method</th>
            <th>
              <button type="button" class="cbvColCollapse cbvLogsButton" data-cbv-col="arguments">-</button>
              Arguments
            </th>
            <th>
              <button type="button" class="cbvColCollapse cbvLogsButton" data-cbv-col="keyword-arguments">-</button>
              Keyword arguments
            </th>
            <th>
              <button type="button" class="cbvColCollapse cbvLogsButton" data-cbv-col="return-value">-</button>
              Return value
            </th>
            <th>
              <button type="button" class="cbvColCollapse cbvLogsButton" data-cbv-col="super-calls">-</button>
              Super calls
            </th>
          </tr>
        </thead>

        <tbody>
          {% for key, val in logs.items %}
            <tr class="cbvLogEntry {{ val.parent }}" id="cbvInspect_{{val.ordering}}_{{val.tab_index}}" data-cbv-order="{{ val.ordering }}" data-cbv-tab-index="{{val.tab_index}}" >
              <td>
                <div style="padding-left: {{val.padding}}px;">
                  {% if val.is_parent %}
                    <button type="button" class="newToggleButton cbvLogsButton">-</button>
                  {% endif %}
                  {% if val.ccbv_link %}
                    <a href="{{ val.ccbv_link }}" target="_blank">
                      <span class="djcbv-method">{{ val.name }}</span><span class="djcbv-signature">{{ val.signature }}</span>   
                    </a>
                  {% else %}
                    <span class="djcbv-method">{{ val.name }}</span><span class="djcbv-signature">{{ val.signature }}</span>
                  {% endif %}
                </div>
              </td>
              
              <td class="djcbv-show-arguments" data-cbv-col="arguments">
                <code>{{ val.args }}</code>
                <!-- <details class="djcbv-show-arguments djcbv-hidden">
                  <summary>toggle args</summary>
                  <code>{{ val.arguments }}</code>
                </details> -->
              </td>

              <td class="djcbv-show-arguments" data-cbv-col="keyword-arguments">
                <code>{{ val.kwargs }}</code>
                <!-- <details class="djcbv-show-arguments djcbv-hidden">
                  <summary>toggle args</summary>
                  <code>{{ val.arguments }}</code>
                </details> -->
              </td>
      
              <td class="djcbv-show-arguments" data-cbv-col="return-value">
                <code>{{ val.ret_value }}</code>
                <!-- <details class="djcbv-show-result djcbv-hidden">
                  <summary>toggle return value</summary>
                  <code>{{ val.ret_value }}</code>
                </details> -->
              </td>

              <td class="djcbv-show-arguments" data-cbv-col="super-calls">
                {% if val.super_calls %}
                  {% if val.super_calls|length > 1 %}
                    <ul>
                    {% for call in val.super_calls %}
                      <li>
                      <!-- <li><code>{{ call }}</code></li> -->
                      {% if call.ccbv_link %}
                        <a href="{{ call.ccbv_link }}" target="_blank">
                          <span class="djcbv-method">{{ call.method }}</span><span class="djcbv-signature">{{ call.signature }}</span>
                        </a>
                      {% else %}
                      <span class="djcbv-method">{{ call.method }}</span><span class="djcbv-signature">{{ call.signature }}</span>
                      {% endif %}
                      </li>
                    {% endfor %}
                    </ul>

                  {% else %}

                    <!-- <code>{{ val.super_calls.0 }}</code>     -->
                    {% if val.super_calls.0.ccbv_link %}
                      <a href="{{ val.super_calls.0.ccbv_link }}" target="_blank">
                        <span class="djcbv-method">{{ val.super_calls.0.method }}</span><span class="djcbv-signature">{{ val.super_calls.0.signature }}</span>
                      </a>
                    {% else %}
                      <span class="djcbv-method">{{ val.super_calls.0.method }}</span><span class="djcbv-signature">{{ val.super_calls.0.signature }}</span>
                    {% endif %}
                  {% endif %}

                {% endif %}
                <!-- <details class="djcbv-show-arguments djcbv-hidden">
                  <summary>toggle args</summary>
                  <code>{{ val.arguments }}</code>
                </details> -->
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h4>Method Resolution Order (MRO)</h4>
      <table>
        <thead>
          <tr>
            <th>Order</th>
            <th>Class</th>
          </tr>
        </thead>

        <tbody>
          {% for cls_dict in mro %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>
                {% if cls_dict.ccbv_link %}
                    <a href="{{ cls_dict.ccbv_link }}" target="_blank">
                      <span class="djcbv-method">{{ cls_dict.name }}</span>   
                    </a>
                  {% else %}
                    <span class="djcbv-method">{{ cls_dict.name }}</span>
                  {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

<style>
  .hidden, .djcbv-hidden {
    display: none !important;
  }

  .djcbv-vis-hidden {
    visibility: hidden !important;
  }

  .result {
    display: inline-block;
  }

  #djCbv {
    /* margin: 0;
    padding: 0;
    min-width: 0;
    width: auto;
    border: 0;
    outline: 0;
    font-size: 12px;
    line-height: 1.5em;
    color: #000;
    vertical-align: baseline;
    background-color: transparent;
    text-align: left;
    text-shadow: none;
    white-space: normal;
    transition: none; */
    font-family: sans-serif;
    /* text-decoration: none !important; */
  }

  #djCbv h4 {
    font-size: 20px;
    font-weight: bold;
    /* margin-top: 0.8em; */
    margin-top: 30px;
    /* color: #475569; */
  }

  #djCbv ul {
    list-style: none;
  }

  #djCbv li {
    padding: 0;
    margin: 0;
  }

  #djCbvHandle {
    position: fixed;
    transform: rotate(-90deg);
    transform-origin: right bottom;
    top: 50%;
    right: 0;
    z-index: 1;
    opacity: 0.75;
    border: 1px solid #282828;
    border-bottom: 0;
  }

  #djCbvShowPanelButton:hover {
    background-color: #111;
    border-color: #38bdf8;
    opacity: 1;
    cursor: pointer;
  }

  #djCbvShowPanelButton {
    padding: 0 5px;
    border: 5px solid #7dd3fc;
    border-bottom-width: 0;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    background-color: #282828;
    opacity: 0.5;
    display: inline-flex;
    align-items: baseline;
  }
  
  #djCbvShowPanelButtonD {
    color: #7dd3fc;
  }

  #djCbvShowPanelButtonJ {
    color: #7dd3fc;
    font-size: 16px;
  }

  .djcbv-panel {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    /* background-color: #eee; */
    /* background-color: #f4fbff; */
    background-color: #fff;
    z-index: 1000000000;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .djcbv-panel-content {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    padding: 5px 20px 0 20px;
    overflow-y: auto;

    font-size: 14px;
    line-height: 1.5em;
    color: #000;
    vertical-align: baseline;
    font-family: sans-serif;
  }

  #djCbv .djcbv-panel-content table {
    /* border: 1px solid #ccc; */
    /* border: 1px solid #ffe2c4; */
    /* border: 1px solid #bae6fd; */
    /* border: 1px solid #e2e8f0; */
    border: 1px solid #cbd5e1;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    display: table;
    margin-top: 0.8em;
    overflow: auto;
  }

  #djCbv .djcbv-panel-content thead th {
    padding: 4px 6px 4px 3px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    color: #334155;
  }

  #djCbv .djcbv-panel-content tbody td {
    padding: 4px 6px 4px 3px;
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
  }

  #djCbv .djcbv-panel-content tbody > tr:nth-child(odd) {
    /* background-color: #f5f5f5; */
    background-color: #f1f5f9;
  }

  #djCbv .newToggleButton, #djCbv .cbvColCollapse {
    box-sizing: content-box;
    padding: 0;
    border: 1px solid #999;
    border-radius: 0;
    width: 12px;
    color: #777;
    background: linear-gradient(to bottom, #fff, #dcdcdc);
    line-height: 1;
  }

  #djCbv .djcbv-method {
    font-weight: 400;
  }

  #djCbv .djcbv-signature {
    color: #545454;
    font-weight: 300;
    font-family: Consolas,"courier new";
    /* font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace; */
    /* font-size: 13px; */
  }

  #panelTitle, .djcbv-panel-title {
    position: absolute;
    /* background-color: #ffc; */
    /* background-color: #7dd3fc; */
    background-color: #0ea5e9;
    color: #666;
    padding-left: 20px;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #panelTitle h1, .djcbv-panel-title h1 {
    font-size: 24px;
    /* color: black; */
    color: white;
  }

  #panelTitle h1, .djcbv-panel-title h1 code {
    background-color: white;
    color: #8e8e8e;
    font-weight: bold;
    border-radius: 3px;
  }

  #djCbvExitPanel {
    margin: 0 20px;
    border: 6px solid #ddd;
    border-radius: 50%;
    background: white;
    color: #ddd;
    font-weight: 900;
    font-size: 20px;
    line-height: 16px;
    padding: 5px;
    text-align: center;
    box-sizing: content-box;
    width: 16px;
  }

  #djCbvExitPanel:hover {
    /* background: #f14668; */
    background: #ff9ed9;
  }

  #djCbv .djcbv-show-arguments code, #djCbv .djcbv-show-result code, #djCbv table code {
  /* #djCbv table > code { */
    display: block;
    font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", monospace;
    font-size: 12px;
    white-space: pre;
    /* white-space: normal; */
    overflow: auto;
    /* background-color: #fff; */
    background-color: inherit;
    /* width: 30%; */
    /* color: #e1a052; */
    color: #db2777;
  }

  code {
    color: #db2777 !important;
  }

  #djCbv summary {
    color: #55a0c4;
  }

  .cbvLogsButton {
    cursor: pointer;
  }
</style>

<script>
  const toolbarHandler = document.querySelector('#djCbv #djCbvHandle');
  const logContainer = document.querySelector("#djCbv .djcbv-panel");
  const djCbvExitPanelBtn = document.querySelector("#djCbv #djCbvExitPanel");

  columnCollapseButtons = document.querySelectorAll('.cbvColCollapse');
  columnCollapseButtons.forEach(colCollapseButton => {
    colCollapseButton.addEventListener('click', toggleColumnVisibility);
  })

  newtoggleButtons = document.querySelectorAll('.newToggleButton');
  newtoggleButtons.forEach(toggleButton => {
    toggleButton.addEventListener('click', newHandleToggleClick)
  });

  function toggleColumnVisibility(e) {
    console.log('🍟');
    console.log(e.target);
    console.log(e.currentTarget);

    colName = e.currentTarget.dataset.cbvCol;
    tableCells = document.querySelectorAll(`#djCbv .cbvLogEntry td[data-cbv-col="${colName}"]`);
    tableCells.forEach(cell => {
      // debugger;
      children = cell.children;
      if (children.length > 0) {
        // debugger;
        Array.from(children).forEach(child => child.classList.toggle('djcbv-hidden'));
      }
    });

    if (e.currentTarget.innerHTML === '-') {
      e.currentTarget.innerHTML = '+';
    }

    else if (e.currentTarget.innerHTML === '+') {
      e.currentTarget.innerHTML = '-';
    }
  }

  function newHandleToggleClick(e){
    console.log('🍩');
    console.log(e.target);
    console.log(e.currentTarget);
    
    const parent = e.currentTarget.closest('tr');
    console.log('🎅🏼 ', parent.id);
    let parentOrder = parent.dataset.cbvOrder;
    let parentTabIndex = parent.dataset.cbvTabIndex;
    const descendantLogs = document.querySelectorAll(`tr.${parent.id}`);


    if (e.currentTarget.innerHTML === '-') {
      // hide all descendents!
      descendantLogs.forEach(el => {
        el.classList.add('djcbv-hidden');
        let hasButton = el.querySelector('.newToggleButton');
        hasButton ? hasButton.innerHTML = '+' : null;
      });
    }
    else if (e.currentTarget.innerHTML === '+') {
      // show all descendents!
      descendantLogs.forEach(el => {
        el.classList.remove('djcbv-hidden');
        let hasButton = el.querySelector('.newToggleButton');
        hasButton ? hasButton.innerHTML = '-' : null;
      });
    }

    // update button based on what just happened
    if (descendantLogs[0].classList.contains('djcbv-hidden')) {
      e.currentTarget.innerHTML = '+';
    }
    else {
      e.currentTarget.innerHTML = '-';
    }
  }

  function toggleLogVisibility() {
    logContainer.classList.toggle('djcbv-hidden');
  }

  toolbarHandler.addEventListener('click', toggleLogVisibility);
  djCbvExitPanelBtn.addEventListener('click', toggleLogVisibility);

  ///////////////////////////////////////////////////////////////

  function addLogEl(logObj) {
    // main func to add logs to page!

    console.dir(logObj);
    let tabIndex = logObj.tab_index;
    let logName = logObj.name;
    let padding = logObj.padding;

    parentLogDiv = getParentLogDiv(tabIndex);

    let logDiv = document.createElement(`div`);
    logDiv.classList.add('logEntry');

    logDiv.style.paddingLeft = `${padding}px`;
    logDiv.style.border = "1px solid blue";
    logDiv.dataset.tabIndex = tabIndex;

    // let result = document.createElement('code');
    let result = document.createElement('div');
    let resultCode = document.createElement('pre');
    let header = document.createElement('div');
    result.classList.add('result');
    header.classList.add('header');
    header.textContent = `${logObj.name}${logObj.signature}`
    result.innerHTML = '<b>result</b>&nbsp';
    result.classList.add('hidden'); // hide results now
    resultCode.textContent = logObj.ret_value
    result.appendChild(resultCode);
    logDiv.insertAdjacentElement('afterbegin', header);
    logDiv.insertAdjacentElement('beforeend', result);

    // add arguments to header
    let argumentsDiv = document.createElement('div');
    argumentsDiv.innerHTML = '<b>arguments</b>&nbsp';
    argumentsDiv.classList.add('hidden');  // hide arguments now

    let arguments = document.createElement('pre');

    arguments.textContent = logObj.arguments;
    console.log(logObj.arguments);
    console.log(arguments.textContent);
    argumentsDiv.appendChild(arguments);

    header.insertAdjacentElement('beforeend', argumentsDiv);

    // find result direct child element in parent div, and append right before that
    parentResult = parentLogDiv.querySelector(':scope > .result');
    // debugger;
    parentResult.insertAdjacentElement('beforebegin', logDiv);

    // make sure parent has a button since it now has child log entries!
    addButton(parentLogDiv);
  }
</script>